{% extends 'admin/admin_layout.html.twig' %}

{% block body %}

    <h1>Posts</h1>
    <hr>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Criado Em</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.createdAt|date('d/M/Y H:i:s') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}